@import './library';

.avatar{
	width: 80upx;
	height: 80upx;
	border-radius: 80upx;
	border: @borderBold;
}

.flex{
	display: flex;
}

.self-right{
	justify-self: right;
}

.self-left{
	justify-self: left;
}

.content-left{
	justify-content: left;
}

.content-right{
	justify-content: right;
}

.wrap{
	flex-wrap: wrap;
}