@import './library';
.blur{
	transition: filter .3s;
	filter: blur(5px);
}
.avatar{
	width: 80upx;
	height: 80upx;
	border-radius: 80upx;
	border: @border;
}

.textarea{
	border: @border-pink;
	border-radius: @borderRadius;
	background-color: #ffffff;
}

#container{
	display: flex;
	flex-direction: column;
	background-color: @containerbg;
	margin: @containerMargin;
	border-radius: 30upx;
	box-shadow: @containerShadow;
	border: @border;
	padding: @padding;
}

.wrap-avatar{
	.flex();
	align-items: center;
	.a-name{
		font-size: 40upx;
		color: @fontColor;
		padding-left: 10upx;
	}
}

.flex{
	display: flex;
}

.self-right{
	justify-self: flex-end;
}

.self-left{
	justify-self: flex-start;
}

.content-left{
	justify-content: flex-start;
}

.content-right{
	justify-content: flex-end;
}

.wrap{
	flex-wrap: wrap;
}